<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    font-family:'Zen Dots', cursive;
    justify-content: space-evenly;
    align-items: center;
    font-style: italic;
    background-image: url("stars.jpg");
    color: yellow;
    height: 80px;
    text-shadow: 2px 2px 3px red;
}

body {
    background-image: url("starwarslogos.jpg");
    background-size: 100%;
}

table {
    padding-top: 130px;
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    color: yellow;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

tr, th {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 1px;
    border: 1px double grey;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: yellow;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    position: relative;
    width: 60px;
    height: 60px;
}

.sith {
    opacity: 1;
    display: block;
    width: 60px;
    height: 60px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container:hover .sith {
    opacity: 0;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.rebel {
    opacity: 1;
    display: block;
    width: 60px;
    height: 60px;
    transition: .5s ease;
    backface-visibility: hidden;
}
=======
body {
  margin: 10px;
  padding: 10px;
  border: firebrick;
  font-style: oblique;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  line-height: 120%;
  background-color: rgb(253,251,251);}
#cabecalho{ 
  top: 0;
  width: 100%;
  position: fixed;
  background-color: darkolivegreen;
  text-align: center;}
#barlist{ 
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: darkolivegreen;}
#titulo{ 
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 4px black; }
#minha_foto{ 
  margin-top: 30px;
  margin-right: 50px;
  border-radius: 200px;}
#licoes_aprendidas{ 
  margin-left: 20px;}
#licoes_a_aprender{ 
  margin-left: 20px;
  margin-right: 50px;}
#listas{ 
  margin-top: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center}
#rodape{ 
  border-right-style: groove;
  text-align: right;}
#rodatex{ 
  color: white;
  text-shadow: 2px 2px 4px black;}
#tabela{ 
  margin-top: 20px;
  width: auto;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: justify;}
footer{ 
    display: inline;}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
p {
  font-style: italic;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  font-weight: inherit;
  font-size: large;
  line-height: 110%;}
h3{
  margin-left: 20px}
td {
  padding: 10px;
  height: 50%;}
>>>>>>> 7f1a0274a113515ade6a0dc5a1feeed192f08eca
