* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    font-family:'Zen Dots', cursive;
    justify-content: space-evenly;
    align-items: center;
    font-style: italic;
    background-image: url("stars.jpg");
    color: yellow;
    height: 80px;
    text-shadow: 2px 2px 3px red;
}

body {
    background-image: url("starwarslogos.jpg");
    background-size: 100%;
}

table {
    padding-top: 130px;
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    color: yellow;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

tr, th {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 1px;
    border: 1px double grey;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: yellow;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    position: relative;
    width: 60px;
    height: 60px;
}

.sith {
    opacity: 1;
    display: block;
    width: 60px;
    height: 60px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container:hover .sith {
    opacity: 0;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.rebel {
    opacity: 1;
    display: block;
    width: 60px;
    height: 60px;
    transition: .5s ease;
    backface-visibility: hidden;
}
